<a href="https://colab.research.google.com/github/chaniabbott/Module-one/blob/main/MCON232_FQ_Module1_Class2_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## YOUR NAME : Chani Abbott

In [ ]:
def write_file():
  with open("numbers.txt", "w") as f :
    f.write("1,2,3\n4,5,6\n7,8,9\n")

In [ ]:
my_list = [5,6,7,8,9]
print(my_list)
print(my_list[::-1])
print(my_list[2:-2])
print(my_list[1:])

In [11]:
nested = []
data = 200

for col in range(3):
  row = []
  for rr in range(3):
    row.append(data)
    data += 20
  nested.append(row)
print(nested)

[[200, 220, 240], [260, 280, 300], [320, 340, 360]]

In [ ]:
my_list = [5,6,7,8,9]

my_even_list = [ i for i in my_list]

In [7]:
rows, cols = 3,4
nested_list = [[i*j for j in range(cols)] for i in range(rows)]
print(nested_list)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [18]:
print(nested)
for row in nested:
  print(row)

print('\n\n')
for index in range(len(nested)):
  print(row)

for row in nested:
  for value in row:
    print(value, end=' ')
  print()

print('\n\n')
for r in range(len(nested)):
  for c in range(len(nested[r])):
    print(nested_list[r][c], end = ' ')

[[200, 220, 240], [260, 280, 300], [320, 340, 360]]
[200, 220, 240]
[260, 280, 300]
[320, 340, 360]



[320, 340, 360]
[320, 340, 360]
[320, 340, 360]
200 220 240
260 280 300
320 340 360



0 0 0 0 1 2 0 2 4

Tuples

In [ ]:
my_tuple = (4,5,6)
print(my_tuple)

for value in my_tuple:
  print(value)

print('\n By Index')
for index in range(len(my_tuple)):
  print(my_tuple[index])

another_tuple = tuple([1,2,3])
print(tuple(another_tuple))
print(another_tuple)
print(another_tuple[0])

In [ ]:
student = ('alice', 19,'cs')
print(student)

In [21]:
def ret_tuple():
  my_tuple = ('alice',19,'cs')
  return my_tuple

name, age, major = ret_tuple()
print(f'{name} {age} {major}')

my_new_tuple = ('alice', 19, 'cs')
name, age, major = my_new_tuple
print(f'{name} {age} {major}')

alice 19 cs
alice 19 cs

In [24]:
t = (1,2,3,4)
tt = 'a','b','c','d'

print(tt)

tt3 = (3,1)
print(tt3)

#creates a list and creates a tuple out of that list
my_tuple = tuple([4,5,6])
print(my_tuple)
my_tuple = tuple('abcd')
print(my_tuple)

print(my_tuple[0])

my_list = []
for item in my_tuple:
  print(item)
  my_list.append(item)
print(my_list)

('a', 'b', 'c', 'd')
(3, 1)
(4, 5, 6)
('a', 'b', 'c', 'd')
a
a
b
c
d
['a', 'b', 'c', 'd']

In [25]:
print(my_tuple[:])
print(my_tuple[:2])
print(my_tuple[::-1])

('a', 'b', 'c', 'd')
('a', 'b')
('d', 'c', 'b', 'a')

In [32]:

my_tuple = tuple('abcdefg')
print(my_tuple.count('d'))
print(my_tuple.index('d'))

my_tuple = tuple('sdfgsdfg')
print(f'min is {min(my_tuple)}')
print(f'max is {max(my_tuple)}')

print(len(my_tuple))

1
3
min is d
max is s
8

In [33]:
t = tuple('fdkjnvienljv')
not_t = tuple('fdkjnvienljv')
print(t)

my_new_t = t

print(f'{my_new_t is not_t}')

not_t +=t
print(not_t)

('f', 'd', 'k', 'j', 'n', 'v', 'i', 'e', 'n', 'l', 'j', 'v')
False
('f', 'd', 'k', 'j', 'n', 'v', 'i', 'e', 'n', 'l', 'j', 'v', 'f', 'd', 'k', 'j', 'n', 'v', 'i', 'e', 'n', 'l', 'j', 'v')

In [37]:
t= (1,2,[3,4])
print(type(t))
t[2].append(5)
print(t)

<class 'tuple'>
(1, 2, [3, 4, 5])

In [ ]:
t2 = (('a','b'),('c','d'))
print(t2)
print(type(t2))
#if would do t2[0] = 3 because it's an immutable immutable or something like that
#also can't delete the mutable, even if it's mutable - can only change it

In [38]:
print(sorted([(2,'b'),(1,'a'), (2,'a')]))

[(1, 'a'), (2, 'a'), (2, 'b')]

In [39]:
#is vs identity
a = (1,2)
b = (1,2)
print(f'TRUE, {a==b}')
print(f'FALSE, {a is b}')

TRUE, True
FALSE, False

copying tuples is unnecessary because you can just point to its place

In [41]:
tt = (1,2,['a','b'])
uu = tt
print(f'{uu is tt}')
tt[2].append('c')
print(f'{tt=} {uu=}')

True
tt=(1, 2, ['a', 'b', 'c']) uu=(1, 2, ['a', 'b', 'c'])

In [44]:
import copy #this works for lists also

uu = copy.deepcopy(tt)
print(f'{uu is tt}')
tt[2].append('d')
print(f'{tt=} {uu=}')

False
tt=(1, 2, ['a', 'b', 'c', 'c', 'd', 'd']) uu=(1, 2, ['a', 'b', 'c', 'c', 'd'])

can use list comprehensions for tuples, it's the same

In [47]:
my_tuple = tuple('aslkjfnvldjlgj')
my_second_tuple = tuple(value for value in my_tuple)
print(f'{tt=} {uu=}')

my_list = [value for value in my_tuple]
print(my_list)

tt=(1, 2, ['a', 'b', 'c', 'c', 'd', 'd']) uu=(1, 2, ['a', 'b', 'c', 'c', 'd'])
['a', 's', 'l', 'k', 'j', 'f', 'n', 'v', 'l', 'd', 'j', 'l', 'g', 'j']

In [49]:
print(my_tuple)

#print every value
for value in my_tuple:
  print(value, end = ' ')

#access according by index
for index in range(len(my_tuple)):
  print(my_tuple[index], end = ' ')
print()

#enumerate print index:value
for index, value in enumerate(my_tuple):
  print(f'enumerate: {index} {value}')

('a', 's', 'l', 'k', 'j', 'f', 'n', 'v', 'l', 'd', 'j', 'l', 'g', 'j')
a s l k j f n v l d j l g j a s l k j f n v l d j l g j
enumerate: 0 a
enumerate: 1 s
enumerate: 2 l
enumerate: 3 k
enumerate: 4 j
enumerate: 5 f
enumerate: 6 n
enumerate: 7 v
enumerate: 8 l
enumerate: 9 d
enumerate: 10 j
enumerate: 11 l
enumerate: 12 g
enumerate: 13 j

In [52]:
t = ((1,2),(3,4),(5,6))
print(t)

for index, my_tuple in enumerate(t):
  print(index,my_tuple)

for index, (val1, val2) in enumerate(t):
  print(index,(val1,val2))
  print(f'{index} {val1} {val2}')

((1, 2), (3, 4), (5, 6))
0 (1, 2)
1 (3, 4)
2 (5, 6)
0 (1, 2)
0 1 2
1 (3, 4)
1 3 4
2 (5, 6)
2 5 6

if ever unsure why it isn't working, use the type operator, it will tell you what type it is if it's a list or a tuple. also put the word tuple before, it sometimes needs it

In [62]:
import random
print(random.random())
print(random.randint(1,100)) #inclusive on both ends
print(random.randrange(10,20, step=2))

my_tuple = tuple('abcdefghijklmn')
print(random.choice(my_tuple))

my_list = list('acegikmoqsuwy')
print(f'before {my_list}')
random.shuffle(my_list)
print(f'after shuffle{my_list}')

print(random.uniform(3.5,6.1))  #both ends are inclusive for this
print(random.sample(range(10,200), 5))  #gives you five samples

0.8196086292866449
41
14
h
before ['a', 'c', 'e', 'g', 'i', 'k', 'm', 'o', 'q', 's', 'u', 'w', 'y']
after shuffle['k', 'g', 'i', 'c', 's', 'y', 'a', 'q', 'o', 'm', 'w', 'u', 'e']
3.7433422870970743
[124, 191, 83, 25, 60]